* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 0px;
}

#workspaces {
  background-color: rgba(10, 10, 10, 0.8);
  padding: 2px;
  margin: 2px;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #99d1db;
  border-radius: 5px;
  padding: 0.4rem;
}

button {
  background: transparent;
}

#workspaces button:hover {
  background: #1e1e1e;
  border: 0px solid transparent;
}

#language,
#tray,
#backlight,
#clock,
#disk,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-weather,
#custom-uptime,
#custom-docker {
  background-color: rgba(10, 10, 10, 0.8);
  padding: 0.5rem 1rem;
  margin: 2px 2px;
}

#clock {
  color: #8caaee;
}

#custom-weather {
  color: #8caaee;
  margin-left: 0.5rem;
}

#battery {
  color: #a6d189;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#backlight {
  color: #e5c890;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  /* color: #ea999c; */
}

#custom-docker {
  color: #85c1dc;
}

#custom-music {
  color: #ca9ee6;
  border-radius: 5px;
  background-color: #101010;
  padding: 0.5rem 1rem;
  margin: 5px 50px;
}

#custom-lock {
  color: #babbf1;
}

#custom-power {
  margin-right: 1rem;
  color: #e78284;
}

#custom-docker.docker {
  color: #85c1dc;
}

#custom-docker.docker-none {
  color: #737994;
}

#custom-docker.docker-error {
  color: #e78284;
}

#custom-weather.clear {
  color: #e5c890; /* Sunny yellow */
}

#custom-weather.cloud {
  color: #99d1db; /* Light blue */
}

#custom-weather.rain {
  color: #8caaee; /* Blue */
}

#custom-weather.snow {
  color: #c6d0f5; /* White-ish */
}

#custom-weather.thunder {
  color: #ca9ee6; /* Purple */
}

#custom-weather.fog {
  color: #b0b4bc; /* Gray */
}

#custom-weather.error {
  color: #e78284; /* Red */
}
